@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fc-non-business-color: #ecbcbc4d;
  --fc-page-bg-color: transparent;
}

:root[data-mantine-color-scheme*="dark"] {
    --background: #0a0a0a;
    --foreground: #ededed;
}

:root:is([data-mantine-color-scheme*="light"], :not([data-mantine-color-scheme])) {
    --background: #ffffff;
    --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }
}

.fc .fc-timegrid-col.fc-day-today {
  background-color: unset;
}
